// .banner .nav li {
//   @extend .nav-item;
// }
.site-header{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 3px rgba(0,0,0,0.10);

    .site-header__inner{
        display: flex;
        max-width: 1160px;
        margin: 0 auto;
    }

    &__logo{
        width: 35%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__navigation{
        width: 75%;
        justify-content: flex-end;
    }
}

.menu-primary_navigation-container{
    height: 100%;
    display: flex;
}

#menu-primary_navigation{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-left: auto;
    align-items: center;
    li{
        list-style: none;
        a{
            color: #646464;
            text-decoration: none;
            font-size: 24px;
            font-weight: $light;
        }
    }
}